<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Funk My Mood" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>

    <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet'>

    <!-- Favicon -->
    <link rel="icon" href="<%= image_path "favicon-32x32.png" %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path "apple-touch-icon.png" %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path "favicon_package_v0.16/favicon-32x32.png" %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path "favicon_package_v0.16/favicon-16x16.png" %>">
    <link rel="mask-icon" href="<%= image_path "favicon_package_v0.16/safari-pinned-tab.svg" %>" color="#5bbad5">
  </head>
  <body>
    <%= yield %>
  </body>
</html>

<script>
  var asshole = new Audio('./tracks/asshole.m4a');
  function playAsshole() {
    asshole.play();
  }
  var awesome = new Audio('./tracks/awesome.mp3');
  function playAwesome() {
    awesome.play();
  }
  var boo = new Audio('./tracks/boo.wav');
  function playBoo() {
    boo.play();
  }
  var claps = new Audio('./tracks/claps.wav');
  function playClaps() {
    claps.play();
  }
  var fuckYou = new Audio('./tracks/fuck-you.m4a');
  function playFuckYou() {
    fuckYou.play();
  }
  var fuckingFreezing = new Audio('./tracks/fucking-freezing.m4a');
  function playFuckingFreezing() {
    fuckingFreezing.play();
  }
  var makeMyDay = new Audio('./tracks/go-ahead-make-my-day.m4a');
  function playMakeMyDay() {
    makeMyDay.play();
  }
  var illBeBack = new Audio('./tracks/i-ll-be-back.m4a');
  function playIllBeBack() {
    illBeBack.play();
  }
  var whistle = new Audio('./tracks/whistle.wav');
  function playWhistle() {
    whistle.play();
  }
  var lol = new Audio('./tracks/lol.wav');
  function playLol() {
    lol.play();
  }
  var lyingSonOfA = new Audio('./tracks/lying-son-of-a.m4a');
  function playLyingSonOfA() {
    lyingSonOfA.play();
  }
  var madDude = new Audio('./tracks/mad-dude.wav');
  function playMadDude() {
    madDude.play();
  }
  var ohMyGod = new Audio('./tracks/oh-my-god.wav');
  function playOhMyGod() {
    ohMyGod.play();
  }
  var perfectTiming = new Audio('./tracks/perfect-timing.mov');
  function playPerfectTiming() {
    perfectTiming.play();
  }
  var scared = new Audio('./tracks/scared.m4a');
  function playScared() {
    scared.play();
  }
  var whistle = new Audio('./tracks/whistle.wav');
  function playWhistle() {
    whistle.play();
  }
  var wtf = new Audio('./tracks/wtf.m4a');
  function playWtf() {
    wtf.play();
  }
  function playTrack(track) {
    track.play();
  }

  document.getElementById('happy').addEventListener('click', playAwesome);
  document.getElementById('lol').addEventListener('click', playLol);
  document.getElementById('stars').addEventListener('click', playOhMyGod);
  document.getElementById('whistle').addEventListener('click', playWhistle);

  document.getElementById('mad').addEventListener('click', playAsshole);
  document.getElementById('wtf').addEventListener('click', playWtf);
  document.getElementById('liar').addEventListener('click', playLyingSonOfA);
  document.getElementById('blow-steam').addEventListener('click', playIllBeBack);

  document.getElementById('scared').addEventListener('click', playScared);
  document.getElementById('cold').addEventListener('click', playFuckingFreezing);
  document.getElementById('very-mad').addEventListener('click', playMakeMyDay);
  document.getElementById('insult').addEventListener('click', playMadDude);

  document.getElementById('thumb-up').addEventListener('click', playClaps);
  document.getElementById('thumb-down').addEventListener('click', playBoo);
  document.getElementById('perfect').addEventListener('click', playPerfectTiming);
  document.getElementById('middle-finger').addEventListener('click', playFuckYou);
</script>
